body {
  background: #c9eae2;
  font-family: verdana;
  color: white;
}

h1 {
  color: black;
  display: block;
  margin: auto;
}


.scoreboard {
  background-image: url(background.jpg);
  border: 1px solid white;
}

.scoreboard div {
  padding: 3px;
}

.container {
  background-image: url(background.jpg);
  border: 1px solid white;
  margin-top: 20px;
} 

.player{
  top: 50%;
  left: 50%;

}

.enemy {
  
  -webkit-transform-origin: 50% 50%;
  -webkit-animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }