body {
  background: #c9eae2;
  font-family: verdana;
  color: white;
}

h1 {
  color: black;
  display: block;
  margin: auto;
}


.scoreboard {
  background-image: url(background.jpg);
  width: 1000px;
  border: 1px solid white;
}

.scoreboard div {
  padding: 3px;
}

.container {
  background-image: url(background.jpg);
  border: 1px solid white;
  width: 1000px;
  height: 600px;
  margin-top: 20px;
} 

.player{
  top: 50%;
  left: 50%;

}